body {
	background-color: #1b1919;
}

h1 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	font-size: 1.5rem;
	font-weight: lighter;
}

h2 {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;
	font-size: 1rem;
	color: white;
}

.title {
	padding: 2rem;
	border-bottom: 1px solid white;
}

.games {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 5%;
	margin: 1rem;
}

.name {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
	color: rgb(0, 195, 255);
	background-color: #2e2828;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 5%;
	margin: 1rem;
	box-shadow: 3px 3px 8px #111010;
}

.numbers {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.rating {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
	color: white;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid rgb(0, 195, 255);
	padding: 5%;
	margin-right: 0.5rem;
	margin-top: 2rem;
}

.tags {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
	color: white;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid white;
	padding: 5%;
	margin-left: 0.5rem;
	margin-top: 2rem;
}

.errorContainer {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2rem;
	color: rgb(255, 0, 85);
	box-sizing: border-box;
	border-radius: 10px;
	border: 2px solid rgba(255, 0, 85);
	padding: 5%;
	margin: 1rem;
}

/* Style denne på egen måte */
.loader {
	border: 10px solid white;
	border-left: 10px solid rgba(255, 0, 85);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	margin: auto;
	animation: spin 1.5s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 800px) {
	.games {
		display: block;
	}
}
