.games {
  border: solid 1px red;
  color: yellow;
}

/* Style denne på egen måte */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid darkred;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-left: 50%;
  animation: spin 2s linear infinite;
}
